In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as srs
from __future__ import division

In [2]:
uk = pd.read_excel('./results/uk-2015.xls', sheetname='Results')
uk.head()

,Name,0,Region,Turnout,Electorate,Conservative_Party,Labour_Party,Liberal_Democrats,Green,UK_Independence_Party,...,Other_Rest,GainOrHold,Swing,Holder,Unnamed: 31,win,Unnamed: 33,Unnamed: 34,Unnamed: 35,Uploaded
0,Fermanagh and South Tyrone,252,Northern Ireland,50864,70106,NaN,NaN,NaN,788,NaN,...,NaN,gain,NaN,Ulster_Unionist,NaN,uup,NaN,NaN,NaN,Y
1,Newry and Armagh,426,Northern Ireland,49877,77622,210,NaN,NaN,NaN,NaN,...,NaN,hold,NaN,Sinn_Fein,NaN,snf,NaN,NaN,NaN,Y
2,Upper Bann,596,Northern Ireland,47219,80052,201,NaN,NaN,NaN,NaN,...,NaN,hold,NaN,DUP,NaN,dup,NaN,NaN,NaN,Y
3,South Antrim,15,Northern Ireland,36523,67423,415,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ulster_Unionist,NaN,uup,NaN,NaN,NaN,Y
4,Mid Ulster,594,Northern Ireland,40922,67831,120,NaN,NaN,NaN,863,...,NaN,hold,NaN,Sinn_Fein,NaN,snf,NaN,NaN,NaN,Y

In [3]:
uk_sums = uk.groupby('Region')['Turnout', 'Conservative_Party', 'Labour_Party', 'Liberal_Democrats', 'Green', 'UK_Independence_Party', 'Scottish_National_Party', 'Plaid_Cymru', 'Respect_Unity_Coalition', 'Sinn_Fein', 'SDLP', 'DUP', 'Ulster_Unionist','Alliance'].sum().fillna(0)

In [4]:
uk_sums.div(uk_sums.Turnout, axis='index')

,Turnout,Conservative_Party,Labour_Party,Liberal_Democrats,Green,UK_Independence_Party,Scottish_National_Party,Plaid_Cymru,Respect_Unity_Coalition,Sinn_Fein,SDLP,DUP,Ulster_Unionist,Alliance
Region,,,,,,,,,,,,,,
East Midlands,1,0.434617,0.316437,0.055612,0.029698,0.157718,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
East of England,1,0.490380,0.220211,0.082476,0.039433,0.162285,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
London,1,0.348786,0.436929,0.077072,0.048541,0.081145,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
North East,1,0.253274,0.468855,0.064883,0.036232,0.167329,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
North West,1,0.312296,0.446693,0.065425,0.031650,0.136523,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
Northern Ireland,1,0.012610,0.000000,0.000000,0.009500,0.025517,0.000000,0.000000,0.000000,0.245413,0.13899,0.256593,0.160054,0.08572
Scotland,1,0.149150,0.242967,0.075478,0.013470,0.016175,0.499726,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
South East,1,0.508470,0.183135,0.094116,0.051857,0.147222,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
South West,1,0.465403,0.176883,0.151212,0.059279,0.135583,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
Wales,1,0.272227,0.368792,0.065273,0.025596,0.136396,0.000000,0.121293,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000
West Midlands,1,0.417701,0.329059,0.055159,0.032581,0.157010,0.000000,0.000000,0.000368,0.000000,0.00000,0.000000,0.000000,0.00000
Yorkshire and the Humber,1,0.326008,0.391476,0.071218,0.035378,0.160350,0.000000,0.000000,0.003691,0.000000,0.00000,0.000000,0.000000,0.00000

In [5]:
seats = uk.groupby('Region')['Name'].count()

In [6]:
combine = pd.concat([seats, uk_sums], axis='index').rename(columns={'Name' : 'Seats'})
combine

,Seats,Turnout,Conservative_Party,Labour_Party,Liberal_Democrats,Green,UK_Independence_Party,Scottish_National_Party,Plaid_Cymru,Respect_Unity_Coalition,Sinn_Fein,SDLP,DUP,Ulster_Unionist,Alliance
Region,,,,,,,,,,,,,,,
East Midlands,46,2230422,969379,705787,124039,66239,351777,0,0,0,0,0,0,0,0
East of England,58,2948622,1445946,649320,243191,116274,478517,0,0,0,0,0,0,0,0
London,73,3536230,1233386,1545080,272544,171652,286946,0,0,0,0,0,0,0,0
North East,29,1188213,300943,557100,77095,43051,198823,0,0,0,0,0,0,0,0
North West,75,3362591,1050124,1502047,219998,106425,459071,0,0,0,0,0,0,0,0
Northern Ireland,18,718103,9055,0,0,6822,18324,0,0,0,176232,99809,184260,114935,61556
Scotland,59,2910465,434097,707147,219675,39205,47078,1454436,0,0,0,0,0,0,0
South East,84,4394441,2234440,804774,413586,227883,646959,0,0,0,0,0,0,0,0
South West,55,2836240,1319994,501684,428873,168130,384546,0,0,0,0,0,0,0,0
Wales,40,1498063,407813,552473,97783,38344,204330,0,181704,0,0,0,0,0,0
West Midlands,59,2628939,1098110,865075,145009,85653,412770,0,0,967,0,0,0,0,0
Yorkshire and the Humber,54,2444177,796822,956837,174069,86471,391923,0,0,9022,0,0,0,0,0

In [7]:
parties = ['Conservative_Party', 'Labour_Party', 'Liberal_Democrats', 'Green', 'UK_Independence_Party', 'Scottish_National_Party', 'Plaid_Cymru', 'Respect_Unity_Coalition', 'Sinn_Fein', 'SDLP', 'DUP', 'Ulster_Unionist', 'Alliance']

In [8]:
[series['Seats'] for name, series in combine.iterrows()]

[46.0, 58.0, 73.0, 29.0, 75.0, 18.0, 59.0, 84.0, 55.0, 40.0, 59.0, 54.0]

In [9]:
def dHondt(name, row, parties):
    seats = int(row['Seats'])
    votes = [row[p] for p in parties]
    denominators = range(1,seats+1)
    coeffs = [[{ 'party' : parties[idx], 'coeff' : v/d} for d in denominators] for idx,v in enumerate(votes)]
    ranked_list = sorted([item for sublist in coeffs for item in sublist], key=lambda x:x['coeff'])
    winners = pd.DataFrame(ranked_list[-seats:])
    results = winners.groupby('party').count().rename(columns={'coeff':'seats'}).reset_index()
    results['Region'] = name
    return results

In [56]:
provinces = [dHondt(region, r, parties) for region, r in combine.iterrows()]
pd.concat(provinces).groupby('party').sum().sort('seats', ascending=False)

                         seats
party
Conservative_Party         241
Labour_Party               208
UK_Independence_Party       80
Liberal_Democrats           48
Scottish_National_Party     30
Green                       20
DUP                          5
Plaid_Cymru                  5
Sinn_Fein                    5
SDLP                         3
Ulster_Unionist              3
Alliance                     2

In [25]:
party_total_votes = uk_sums[parties].sum()
total_votes = party_total_votes.sum()
party_pcts = party_total_votes / total_votes

In [52]:
lim_parties = party_pcts[party_pcts > 0.1].index.tolist()
lim_provinces = [dHondt(region, r, lim_parties) for region, r in combine.iterrows()]
pd.concat(lim_provinces).groupby('party').sum()

                       seats
party
Conservative_Party       293
Labour_Party             251
UK_Independence_Party    106

In [61]:
national = uk[parties].sum()
national['Seats'] = uk['Name'].count()
nat_prop = pd.DataFrame(dHondt('all', national, parties))
nat_prop.set_index(nat_prop.party).sort('seats',ascending=False)['seats']

party
Conservative_Party         244
Labour_Party               202
UK_Independence_Party       83
Liberal_Democrats           52
Scottish_National_Party     31
Green                       24
DUP                          3
Plaid_Cymru                  3
Sinn_Fein                    3
SDLP                         2
Ulster_Unionist              2
Alliance                     1
Name: seats, dtype: int64

In [245]:
fptp = pd.DataFrame(uk.groupby(uk.Holder)['Name'].count())
fptp

                         Name
Holder
Conservative_Party        330
DUP                         6
Green                       1
Independent                 1
Labour_Party              232
Liberal_Democrats           8
Other                       1
Plaid_Cymru                 3
SDLP                        4
Scottish_National_Party    56
Sinn_Fein                   5
UK_Independence_Party       1
Ulster_Unionist             2